* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.heiden {
  display: none;
}

body {
  background-color: #fbfbfb;
}

/* common class */
.continer {
  width: 80%;
  margin: 0 auto;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 12.4px 16px;
  cursor: pointer;
  background-color: #30b868;
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
}

.btn i {
  margin-left: 8px;
}

.btn:hover {
  background-color: transparent;
  color: black;
  border: 2px solid #30b868;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-bottom: 44px;
}

.header-text h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-transform: capitalize;
  color: #001931;
}

.header-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}

#banner,
#notes,
#brain,
#ready {
  margin-bottom: 100px;
}

/* main class */

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.nav-content .nav-logo img {
  width: 139px;
}

.nav-content .nav-link ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-content .nav-link a {
  font-size: 16px;
  font-weight: 500;
  color: rgb(0, 0, 0, 1);
  text-decoration: none;
}

.nav-content .nav-link a:hover {
  color: #30ac66;
}

#banner {
  padding: 120px 0;
  background: url("/assets/banner-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#banner-continer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

/*  */
.banner-content {
  max-width: 770px;
  display: flex;
  margin: 120px 0;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  align-items: center;
}

.banner-content .banner-logo {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: #fbfbfb;
}

.banner-content h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-transform: capitalize;
  color: #ffffff;
}

.banner-content h1 .color-green {
  color: #30ac66;
}

.banner-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 32px;
}

.banner-content .btn-b {
  display: flex;
  gap: 16px;
  align-items: center;
}

.banner-content .btn-1:hover {
  color: #ffffff;
}

.banner-content .btn-2 {
  background-color: transparent;
  border: 1px solid #ffffff;
  transition: 0.3s;
}

.banner-content .btn-2:hover {
  background-color: #30b868;
  color: #ffffff;
  border: none;
}

.notes-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 32px;
}

.notes-content .notes-card {
  width: 322px;
  height: 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
}

.notes-content .notes-card img {
  width: 60px;
}

.notes-content .notes-card h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-transform: capitalize;
  color: #001931;
}

.notes-content .notes-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}

.brain-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.brain-content .brain-img img {
  width: 600px;
}

.brain-content .brain-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.brain-content .brain-text h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: #30b868;
}

.brain-content .brain-text h1 {
  font-size: 48px;
  font-weight: 700;
  font-style: Bold;
  color: #001931;
}

.brain-content .brain-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}

.brain-text .text-group {
  display: flex;
  gap: 6px;
  align-items: center;
}

.brain-text .text-group img {
  width: 20px;
}

.brain-text .text-group h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(0, 25, 49, 1);
}

#ready-continer {
  background: rgba(247, 246, 242, 1);
  border-radius: 13px;
  padding: 80px 40px;
}

#ready-continer .ready-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

#ready-continer .ready-content h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(0, 25, 49, 1);
}

#ready-continer .ready-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #627382;
  margin-bottom: 24px;
}

#footer {
  background-color: #001931;
  color: rgba(250, 250, 250, 1);
  padding: 120px 0px 30px 0px;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding-right: 50px;
}

.footer-icon h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.footer-icon a {
  margin-right: 6px;
}

.footer-content .footer-all {
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, 0.071);
}
.footer-all p {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}
